<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
   <table>
       <tr>
           <th>id</th>
           <th>userid</th>
           <th>description</th>
           <th>targetDate</th>
           <th>done</th>
       </tr>
       <tr th:each="todo: ${todoListFindAll}">
           <td th:text="${todo.id}"></td>
           <td th:text="${todo.userid}"></td>
           <td th:text="${todo.description}"></td>
           <td th:text="${todo.targetDate}"></td>
           <td th:text="${todo.done}"></td>
       </tr>
   </table>
    <a href="@{/todo-add}"> todo작성</a>
</div>
</body>
</html>